In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt
from bs4 import BeautifulSoup as bs
import requests
import lxml
import html5lib

In [2]:
# Data source: http://data.un.org/DocumentData.aspx?id=415
df = pd.read_excel (r'~/Documents/abtin-python/gender-equality/Gender_Inequality_Index_edit.xls')

In [3]:
df

,HDI rank,Country,gender_inequality_index_value,gender_inequality_index_rank,maternal_mortality_per_100k_births,births_per_1k_women_aged_15_to_19,share_women_parliamentary_seats,share_women_aged_25+_with_at_least_secondary_education,share_men_aged_25+_with_at_least_secondary_education,labour_force_participation_women_aged_15+,labour_force_participation_men_aged_15+
0,1.0,Norway,0.044116,5,5,5.141,41.420118,96.06669,94.8103,60.2,66.7
1,2.0,Switzerland,0.036719,1,5,2.763,29.268293,96.37136,97.16259,62.6,74.1
2,3.0,Ireland,0.092903,22,8,7.515,24.311927,90.238,86.307951,55.1,68.1
3,4.0,Germany,0.083538,19,6,8.095,31.491003,95.99484,96.64052,55.3,66.2
4,4.0,"Hong Kong, China (SAR)",..,..,..,2.705,..,76.58528,82.9151,54.1,67.8
...,...,...,...,...,...,...,...,...,...,...,...
187,185.0,Burundi,0.519578,124,712,55.59,38.75,7.5,11.02,80.4,77.6
188,186.0,South Sudan,..,..,789,62.04,26.558891,..,..,71.8,74.3
189,187.0,Chad,0.700681,160,856,161.09,15.254237,1.738381,10.313367,64.8,77.9
190,188.0,Central African Republic,0.682079,159,882,129.074,8.571429,13.42,31.08,64.7,79.8
191,189.0,Niger,0.647448,154,553,186.538,16.959064,4.28,8.88,67.3,90.5

In [4]:
URL = "https://www.fifa.com/fifa-world-ranking/women?dateId=ranking_20210625"
page = requests.get(URL)

soup = bs(page.content, "lxml")

In [46]:
cards = soup.find_all("tr", class_="fc-ranking-item-full_rankingTableFullRow__1nbp7 ")

In [48]:
for card in cards:
    print(card['aria-label'], end="\n"*3)

In [49]:
for card in cards:
    rank = card.find("h6", class_="ff-m-0")
    country = card.find("span", class_="d-none d-lg-block")
    
    print(rank.text)
    print(country.text, end="\n"*2)